Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
data = [4, 8, 15, 16, 23, 42]

series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
import pandas as pd

my_list = [1,11,22,33,44,55,66,77,88,99]
my_series = pd.Series(my_list)
print(my_series)

0     1
1    11
2    22
3    33
4    44
5    55
6    66
7    77
8    88
9    99
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [5]:
import pandas as pd

data = {
    'Name' : [ 'Alice' , 'Bob' , 'Claire'],
    'Age' : [ 25 , 30 , 27   ],
    'Gender' : [ 'Female' , 'Male' , 'Female' ]
}

df = pd.DataFrame(data)

In [6]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [7]:
'''
A Series is a single column of data.
It has two parts: index (row labels) and values (data).

example : 

import pandas as pd

# Series of marks
marks = pd.Series([80, 85, 90], index=['Math', 'Science', 'English'])
print(marks)


A DataFrame is a table of data with rows and multiple columns.

Think of it like a full Excel sheet.

example:

A DataFrame is a table of data with rows and multiple columns.

Think of it like a full Excel sheet.


| Feature   | Series                | DataFrame                        |
| --------- | --------------------- | -------------------------------- |
| Dimension | 1D (one column)       | 2D (rows and columns)            |
| Structure | Just index and values | Rows, columns, and values        |
| Use case  | Single column of data | Full dataset or table            |
| Example   | Marks in a subject    | Student info (Name, Age, Gender) |


'''

"\nA Series is a single column of data.\nIt has two parts: index (row labels) and values (data).\n\nexample : \n\nimport pandas as pd\n\n# Series of marks\nmarks = pd.Series([80, 85, 90], index=['Math', 'Science', 'English'])\nprint(marks)\n\n\nA DataFrame is a table of data with rows and multiple columns.\n\nThink of it like a full Excel sheet.\n\nexample:\n\nA DataFrame is a table of data with rows and multiple columns.\n\nThink of it like a full Excel sheet.\n\n\n| Feature   | Series                | DataFrame                        |\n| --------- | --------------------- | -------------------------------- |\n| Dimension | 1D (one column)       | 2D (rows and columns)            |\n| Structure | Just index and values | Rows, columns, and values        |\n| Use case  | Single column of data | Full dataset or table            |\n| Example   | Marks in a subject    | Student info (Name, Age, Gender) |\n\n\n"

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [8]:
'''
Some common functions to manipulate DataFrame are:

head() – View first few rows

tail() – View last few rows

info() – Summary of data

describe() – Statistics (mean, min, max, etc.)

drop() – Remove rows/columns

rename() – Rename columns

sort_values() – Sort data by a column

fillna() – Fill missing values

groupby() – Group data by column


example:

df.sort_values('Age')
Use: To sort a student list by age in ascending order.


'''

"\nSome common functions to manipulate DataFrame are:\n\nhead() – View first few rows\n\ntail() – View last few rows\n\ninfo() – Summary of data\n\ndescribe() – Statistics (mean, min, max, etc.)\n\ndrop() – Remove rows/columns\n\nrename() – Rename columns\n\nsort_values() – Sort data by a column\n\nfillna() – Fill missing values\n\ngroupby() – Group data by column\n\n\nexample:\n\ndf.sort_values('Age')\nUse: To sort a student list by age in ascending order.\n\n\n"

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [10]:
'''
Series – ✅ Mutable

DataFrame – ✅ Mutable

Panel – ✅ Mutable (but deprecated)
'''

'\nSeries – ✅ Mutable\n\nDataFrame – ✅ Mutable\n\nPanel – ✅ Mutable (but deprecated)\n'

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [11]:
import pandas as pd

# Create Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 28])
genders = pd.Series(['Female', 'Male', 'Male'])

# Combine Series into DataFrame
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Gender': genders
})

# Print DataFrame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   28    Male